<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanlifei.framework">


    <!-- 网络相关权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- SDCard相关权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".main.ui.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- —————————————————————————————————— 准备工作  —————————————————————————————————————— -->
        <activity
            android:name=".main.ui.activity.SplashActivity_"
            android:largeHeap="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.ui.activity.GuideActivity_" />
        <activity android:name=".main.ui.activity.HomeActivity_" />

        <!-- 当前应用分辨率参考标准 -->
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <!-- —————————————————————————————————— 示例  —————————————————————————————————————— -->

        <activity android:name="com.tanlifei.exemple.main.ExempleHomeActivity_" />

        <!-- 所有公用的adapter -->
        <activity android:name="com.tanlifei.exemple.baseadapter.ExempleBaseAdpterMainActivity" /><!-- 主界面 -->
        <activity android:name="com.tanlifei.exemple.baseadapter.ExempleBaseAdapterSingleItemTypeActivity" /> <!-- 单个布局的adapter -->
        <activity android:name="com.tanlifei.exemple.baseadapter.ExempleBaseAdpterMutliItemTypeActivity" /><!-- 多个布局的adapter -->

        <!-- 所有公用的加载框 -->
        <activity android:name="com.tanlifei.exemple.kprogresshud.ExempleKProgresshudMainActivity" /><!-- 主界面 -->

        <!-- 所有公用的请求框 -->
        <activity android:name="com.tanlifei.exemple.okhttp.ExempleOkHttpMainActivity" /><!--http 示范 -->

        <!-- 下拉上拉 -->
        <activity android:name="com.tanlifei.exemple.refreshview.ui.ExempleRefreshViewMainActivity" /><!--下拉上拉 示范 -->
        <activity android:name="com.tanlifei.exemple.refreshview.ui.ExempleListViewActivity_"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

        <!-- dialog -->

        <activity android:name="com.tanlifei.exemple.dialog.ui.ExempleDialogSimpleHomeActivity"/>
        <activity android:name="com.tanlifei.exemple.dialog.ui.ExempleDialogPopupHomeActivity"/>
        <activity android:name="com.tanlifei.exemple.dialog.ui.ExempleDialogDialogHomeActivity"/>
        <activity android:name="com.tanlifei.exemple.dialog.ui.ExempleDialogCustomPopupActivity"/>
        <activity android:name="com.tanlifei.exemple.dialog.ui.ExempleDialogBubblePopupActivity"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
